<center><h1>Messages</h1></center>

<body>

	<table class="table table-hover">
  		<thead>
    			<tr>
      				<th>Name</th>
      				<th>Phone Number</th>
      				<th>Message</th>
      				<th>Date</th>
      				<th>Time</th>
    			</tr>
  		</thead>

  		<tbody>
    		<% @messages.each do |m| %>
      			<tr>
        			<td><%= m.name %></td>
        			<td><%= m.phonenumber %></td>
        			<td><%= m.message %></td>
        			<td><%= m.date %></td>
        			<td><%= m.time %></td>
              <td><%= link_to 'Edit', m, action: 'edit', :class => "btn btn-default btn-warning btn-sm glyphicon glyphicon-edit" %></td>
              <td><%= link_to 'Delete', m, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-default btn-danger btn-sm glyphicon glyphicon-trash" %></td>
      			</tr>
    	<% end %>
  		</tbody>
	</table>

</body>

