<h1>New Message</h1>

<%= form_for @message do |m| %>
	<div class="field">
		<%= m.label :name %>
		<%= m.text_field :name %>
	</div>

	<div class="field">
		<%= m.label :phonenumber %>
		<%= m.text_field :phonenumber %>
	</div>

	<div class="field">
		<%= m.label :message %>
		<%= m.text_field :message %>
	</div>

	<div class="field">
		<%= m.label :date %>
		<%= m.text_field :date %>
	</div>

	<div class="field">
		<%= m.label :time %>
		<%= m.text_field :time %>
	</div>

	<div>
		<%= m.submit %>
	</div>

<% end %>