<%= render partial: 'layouts/nav' %>

<h1 id="messageindextitle">Scheduled Messages</h1>

<div id="messagelistcontainer">

	<table class="table table-hover">
		<thead>
			<tr id="messagetablelabels">
				<th>To</th>
				<th>Message Text</th>
				<th>Sent At</th>
			</tr>
		</thead>

		<% @sms_messages.each do |s| %>
			<tr>
				<td><%= number_to_phone(s.to, area_code: true)%> </td> 
				<td><%= s.body %> </td>
				<td><%= s.created_at.to_formatted_s(:long) %></td>
				<td><%= link_to 'Edit', s, action: 'edit', :class => "btn btn-default glyphicon glyphicon-user", :id => "userbutton" %></td>
  			<td><%= link_to '', s, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-default btn-danger glyphicon glyphicon-trash", :id => "userbutton" %></td>
			</tr>
		<% end %>
	</table>

</div>

<div id="createmessagebutton">
<a href="<%= new_sms_message_path %>" class="btn btn-default btn-lg" id="sendsmsbutton">Create Message <span class="glyphicon glyphicon-comment"></span></a>
</div>