<%= render partial: 'layouts/nav' %>

<div id="newmessageshowicon">
</div>

<div id="showmessagecontainer">

<h1 id="showmessagename"><%= @sms_message.to %></h1></br >

<dt class="showmessagefont">Sent To</dt>
<dd><%= @sms_message.to %></dd></br >

<dt class="showmessagefont">Message</dt>
<dd><%= @sms_message.body %></dd></br >

<dt class="showmessagefont">Scheduled Send Date</dt>
<dd><%= @sms_message.month %>/<%= @sms_message.day %>/<%= @sms_message.year %></dd></br >

<dt class="showmessagefont">Scheduled Send Time</dt>
<dd><%= @sms_message.timehour %>:<%= @sms_message.timeminute %>  <%= @sms_message.ampm %></dd>
<dd><%= @sms_message.timezone %></dd></br >

<%= link_to 'Edit', edit_sms_message_path(@sms_message), :class => "btn btn-default glyphicon glyphicon-comment" %></br ></br >
<%= link_to 'Back to Messages', sms_messages_path, :class => "btn btn-default" %>

</div>
