<h1>New Brewery</h1>

<%= form_for @brewery do |b| %>
	<div class="field">
		<%= b.label :name %>
		<%= b.text_field :name %>
	</div>

	<div class="field">
		<%= b.label :city %>
		<%= b.text_field :city %>
	</div>

	<div class="field">
		<%= b.label :founded %>
		<%= b.text_field :founded %>
	</div>

	<div>
		<%= b.submit %>
	</div>

<% end %>