<div class="container" id="newusercontainer">

<%= form_for @user do |u| %>

	<div class="field">
		<%= u.text_field :firstname, placeholder: 'First Name' %>
	</div>

	<br />

	<div class="field">
		<%= u.text_field :lastname, placeholder: 'Last Name' %>
	</div>

	<br />

	<div class="field">
		<%= u.text_field :email, placeholder: 'E-Mail' %>
	</div>

	<br />

	<div class="field">
		<%= u.password_field :password, placeholder: 'Password' %>
	</div>

	<br />

	<div class="field">
		<%= u.text_field :twilio_number, placeholder: 'Twilio Phone Number' %>
	</div>

	<br />

	<div class="field">
		<%= u.text_field :twilio_sid, placeholder: 'Twilio SID' %>
	</div>

	<br />

	<div class="field" placeholder="Twilio Token">
		<%= u.text_field :twilio_token, placeholder: 'Twilio Token' %>
	</div>

	<br />

	<div id="submitbutton">
		<%= u.submit 'Create User', class: 'btn btn-default'%>
	</div>

</div>

<% end %>