<%= form_for @user do |u| %>

	<div class="field">
		<%= u.label :firstname %>
		<%= u.text_field :firstname %>
	</div>

	<div class="field">
		<%= u.label :lastname %>
		<%= u.text_field :lastname %>
	</div>

	<div class="field">
		<%= u.label :email %>
		<%= u.text_field :email %>
	</div>

	<div class="field">
		<%= u.label :username %>
		<%= u.text_field :username %>
	</div>

	<div class="field">
	<%= u.label :password %>
	<%= u.password_field :password %>
	</div>

	<div class="field">
		<%= u.label :twilio_number %>
		<%= u.text_field :twilio_number %>
	</div>

	<div class="field">
		<%= u.label :twilio_sid %>
		<%= u.text_field :twilio_sid %>
	</div>

	<div class="field">
		<%= u.label :twilio_token %>
		<%= u.text_field :twilio_token %>
	</div>

	<div class="field">
		<%= u.label :admin %>
		<%= u.check_box :admin %>
	</div>

	<div>
		<%= u.submit %>
	</div>
</form>

<% end %>