<center><h1> ($) Users (/$) </h1></center>

<body>
	
	<div>
		<ul>
			<% @users.each do |u| %>
			<li><%= u.firstname %></li><br />
			<li><%= u.lastname %> </li><br />
			<li><%= u.email %></li><br />
			<li><%= u.username %></li><br />
			<li><%= u.phonenumber %></li>
			<% end %>
		</ul>
	</div>

</body>

field :firstname, type: String
  field :lastname, type: String
  field :email, type: String
  field :username, type: String
  field :salt, type: String
  field :hashed_password, type: String
  field :phonenumber, type: String