<center><h1> ($) Users (/$) </h1></center>

<body>

	<table class="table table-hover">
  		<thead>
    			<tr>
      				<th>First Name</th>
      				<th>Last Name</th>
      				<th>E-Mail</th>
      				<th>New Username</th>
      				<th>Desired Password</th>
      				<th>Phone Number</th>
    			</tr>
  		</thead>

  		<tbody>
    		<% @users.each do |u| %>
      			<tr>
        			<td><%= u.firstname %></td>
        			<td><%= u.lastname %></td>
        			<td><%= u.email %></td>
        			<td><%= u.username %></td>
        			<td><%= u.password %></td>
        			<td><%= u.phonenumber %></td>
              <td><%= link_to 'Show', u %></td>
              <td><%= link_to 'Edit', u, { action: 'edit'} %>
              <td><%= link_to 'Destroy', u, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      			</tr>
    	<% end %>
  		</tbody>
	</table>