<h1>New User</h1>

<%= form_for @users do |u| %>
	<div class="field">
		<%= u.label :firstname %>
		<%= u.text_field :firstname %>
	</div>

	<div class="field">
		<%= u.label :lastname %>
		<%= u.text_field :lastname %>
	</div>

	<div class="field">
		<%= u.label :email %>
		<%= u.text_field :email %>
	</div>

	<div class="field">
		<%= u.label :username %>
		<%= u.text_field :username %>
	</div>

	<div class="field">
		<%= u.label :phonenumber %>
		<%= u.text_field :phonenumber %>
	</div>

	<div>
		<%= u.submit %>
	</div>

<% end %>