<%= render partial: 'layouts/nav' %>

<h1 id = "contactindextitle">Contacts</h1>

<div id="contactlistcontainer">

  <table class="table table-hover">
  		<thead>
    			<tr id="contacttablelabels">
      				<th>First Name</th>
              <th>Last Name</th>
      				<th>Phone Number</th>
    			</tr>
  		</thead>

  		<tbody>
    		<% @contacts.each do |c| %>
      			<tr>
        			<td><%= c.firstname %></td>
              <td><%= c.lastname %></td>
        			<td><%= c.phonenumber %></td>
              <td><%= link_to 'Edit', c, action: 'edit', :class => "btn btn-default glyphicon glyphicon-user", :id => "userbutton" %></td>
              <td><%= link_to '', c, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-default btn-danger glyphicon glyphicon-trash", :id => "userbutton" %></td>
      			</tr>
    	<% end %>
  		</tbody>
	</table>
</div>

<div id="createcontactbutton">
<a href="<%= new_contact_path %>" class="btn btn-default btn-lg" id="sendsmsbutton"> Add Contact <span class="glyphicon glyphicon-user"></span></a>
</div>


