<%= render partial: 'layouts/nav' %>

<div id="newcontactshowicon">
</div>

<div id="showcontactcontainer">

<h1 id="showcontactname"><%= @contact.firstname %></h1><br />

<dt class="showcontactfont">First Name</dt>
<dd><%= @contact.firstname %></dd><br />

<dt class="showcontactfont">Last Name</dt>
<dd><%= @contact.lastname %></dd><br />

<dt class="showcontactfont">Phone Number</dt>
<dd><%= @contact.phonenumber %></dd><br />

<%= link_to 'Edit', edit_contact_path(@contact), :class => "btn btn-default glyphicon glyphicon-user" %><br /><br />
<%= link_to 'Back to Contacts', contacts_path, :class => "btn btn-default" %>

</div>
