<nav class="navbar navbar-default" role="navigation">
  <div class="collapse navbar-collapse">
  <div class="container-fluid" id="navcontainer">
      <ul class="nav navbar-nav">
        <li>
          <a href="<%= covers_path %>">
            <button type="button" class="btn btn-default btn-lg">
              <span class="glyphicon glyphicon-home"></span>
            </button>
          </a>
        </li>
        <li>
        <h1 id="navbartitle">&nbsp;&nbsp;&nbsp;Escrow</h1>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" id="dropdownnav">
          <a class="dropdown-toggle" data-toggle="dropdown">
            <button type="button" class="btn btn-default btn-lg">
              <span class="glyphicon glyphicon-align-justify"></span>
            </button>
          <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Contacts', contacts_path %></li>
            <li><%= link_to 'Messages', sms_messages_path %></li>
            <!-- <li> --><%#= link_to , edit_user_path(current_user.id) %><!-- 
             -->
            <li class="divider"></li>
            <li>&nbsp&nbsp&nbsp&nbsp&nbsp<%= current_user ? current_user.email : "" %></li>
            <% if current_user %>
              <li><%= link_to "Log Out", auths_path, method: :delete %></li>
            <% else %>
              <li><a href="<%= new_auth_path %>">Log In</a></li>
            <% end %>
          </ul>
        </li>
      </ul>
  </div>
</div>
</nav>